/* CSS Document */
@media screen and (max-width: 480px) {
.splash-bg img{width:638px; height:617px;}
.space-panel .sec-imgBox{ width:100%;}
.sec-sortList li{width:100%}
.bottombar{position:relative;z-index:10000;}
.f_ul_list{text-align:center;}
.footer-menu-ul li{width:100%;}
.indexUl{ padding:50px 0;}
.sec-titleBox{padding: 30px 0 35px;}
.indexUl li a{font-size:13px;}
}

/*768px*/
@media screen and (min-width: 768px) {
	
/*992px*/
@media (min-width: 768px) and (max-width: 991px) {
	
	}
/*1200px�� */
@media (min-width: 992px) and (max-width: 1199px) {
	}
@media (min-width: 1200px) {
	}
